{% extends 'base.html' %}

{% block headcss %}
  <link rel=stylesheet
        href="../static/css/main.0.1.css"
        media=all>
{% endblock %}

{% block headjs %}
  <script src="../static/js/vendor/d3.v3.min.js"></script>
  <script src="../static/js/vendor/queue.v1.min.js"></script>
  <script src="../static/js/d3-legend.js"></script>
{% endblock %}

{% block main %}
  <div id=map_wrap></div>
{% endblock %}

{% block bodyjs %}
<script src={{ url_for('energy_inventory.static', filename='js/LNG_refineries_processing.js') }}></script>
{% endblock %}